---
layout: base.njk
title: Nie ma takiej strony
permalink: /404.html
eleventyExcludeFromCollections: true
---
<section class="sekcja sekcja-pierwsza podziekowanie">
  <div class="wrap wrap-waski">
    <img src="/img/enso.svg" alt="" width="110" height="110">
    <h1 class="tytul-strony">Nie ma takiej strony.</h1>
    <p class="lead">Być może adres się zmienił albo strona została przeniesiona.</p>
    <p class="akcje" style="justify-content:center">
      <a class="przycisk" href="/">Strona główna</a>
      <a class="przycisk przycisk-jasny" href="/terminy/">Terminy</a>
      <a class="przycisk przycisk-jasny" href="/aktualnosci/">Aktualności</a>
    </p>
  </div>
</section>
