---
layout: base.njk
title: Dziękujemy
permalink: /dziekujemy/
---
<section class="sekcja sekcja-pierwsza podziekowanie">
  <div class="wrap wrap-waski">
    <img src="/img/enso.svg" alt="" width="110" height="110">
    <h1 class="tytul-strony">Dziękujemy.</h1>
    <p class="lead">Wiadomość dotarła. Odpowiemy najszybciej, jak to możliwe.</p>
    <p><a class="przycisk przycisk-jasny" href="/">Wróć na stronę Centrum</a></p>
  </div>
</section>
